In [1]:
import pandas as pd

In [2]:
data = [
    [1, None],
    [4,5],
    [None,None],
    [8,9],
    [3,4]
]
df = pd.DataFrame(data, columns=['a','b'])
df

     a    b
0  1.0  NaN
1  4.0  5.0
2  NaN  NaN
3  8.0  9.0
4  3.0  4.0

In [3]:
df.head() # 显示头5行数据

     a    b
0  1.0  NaN
1  4.0  5.0
2  NaN  NaN
3  8.0  9.0
4  3.0  4.0

In [4]:
df.head(2) # 显示头2行数据

     a    b
0  1.0  NaN
1  4.0  5.0

In [5]:
df.tail() # 显示尾5行数据

     a    b
0  1.0  NaN
1  4.0  5.0
2  NaN  NaN
3  8.0  9.0
4  3.0  4.0

In [6]:
df.tail(2) # 显示尾2行数据

     a    b
3  8.0  9.0
4  3.0  4.0

In [7]:
df.info() # 显示数据信息

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
a    4 non-null float64
b    3 non-null float64
dtypes: float64(2)
memory usage: 160.0 bytes

In [8]:
df.describe() # 数据相关的信息，有各种数据计算的值

             a         b
count  4.00000  3.000000
mean   4.00000  6.000000
std    2.94392  2.645751
min    1.00000  4.000000
25%    2.50000  4.500000
50%    3.50000  5.000000
75%    5.00000  7.000000
max    8.00000  9.000000