# time datetime timedelta

In [1]:
import time

In [2]:
time.time() # 显示从系统默认开始时间到现在的秒数

1533982580.2000334

In [3]:
time.localtime(1533982580) # 显示人类可读的时间

time.struct_time(tm_year=2018, tm_mon=8, tm_mday=11, tm_hour=18, tm_min=16, tm_sec=20, tm_wday=5, tm_yday=223, tm_isdst=0)

In [4]:
time.strftime('%Y=%m-%d %H:%M:%S', time.localtime(1533982580)) # 返回一个时间字符串, 按照写入的格式

'2018=08-11 18:16:20'

In [7]:
local = time.strptime('2018-08-11 19:50', '%Y-%m-%d %H:%M') # 反推

In [8]:
time.mktime(local)

1533988200.0

In [9]:
from datetime import datetime

In [10]:
now = datetime.now()
now

datetime.datetime(2018, 8, 11, 20, 22, 4, 495993)

In [11]:
now.year, now.month, now.day # 当前的年月日

(2018, 8, 11)

In [13]:
now.strftime('%Y-%m-%d %H:%M:%S') # 拿到现在的格式化后的字符串时间

'2018-08-11 20:22:04'

In [14]:
datetime.strptime('2018-05-31 20:16:44', '%Y-%m-%d %H:%M:%S')

datetime.datetime(2018, 5, 31, 20, 16, 44)

In [15]:
datetime(2018, 5, 31)

datetime.datetime(2018, 5, 31, 0, 0)

In [16]:
datetime.fromtimestamp(1527767400.0) # 从时间戳反转换

datetime.datetime(2018, 5, 31, 19, 50)

In [17]:
now.timestamp()

1533990124.495993

In [18]:
delta = datetime.now() - datetime(2018, 5, 31)
delta

datetime.timedelta(72, 74005, 616088)

In [19]:
delta.days

72

In [20]:
delta.seconds

74005

In [21]:
delta.microseconds

616088

In [22]:
import pandas as pd
import numpy as np

In [23]:
pd.date_range('2018-05-01', '2018-05-10')

DatetimeIndex(['2018-05-01', '2018-05-02', '2018-05-03', '2018-05-04',
               '2018-05-05', '2018-05-06', '2018-05-07', '2018-05-08',
               '2018-05-09', '2018-05-10'],
              dtype='datetime64[ns]', freq='D')

In [26]:
pd.date_range('2018-05-01', '2018-10-01', freq='W') # 这里的freq是频率的意思，可以是W周，
#D日，M月，Q季度，A年，H小时，T分 S秒

DatetimeIndex(['2018-05-06', '2018-05-13', '2018-05-20', '2018-05-27',
               '2018-06-03', '2018-06-10', '2018-06-17', '2018-06-24',
               '2018-07-01', '2018-07-08', '2018-07-15', '2018-07-22',
               '2018-07-29', '2018-08-05', '2018-08-12', '2018-08-19',
               '2018-08-26', '2018-09-02', '2018-09-09', '2018-09-16',
               '2018-09-23', '2018-09-30'],
              dtype='datetime64[ns]', freq='W-SUN')

In [27]:
pd.date_range('2018-05-01', freq='Q', periods=10) # periods是次数的意思

DatetimeIndex(['2018-06-30', '2018-09-30', '2018-12-31', '2019-03-31',
               '2019-06-30', '2019-09-30', '2019-12-31', '2020-03-31',
               '2020-06-30', '2020-09-30'],
              dtype='datetime64[ns]', freq='Q-DEC')

In [28]:
data = {
    'time':pd.date_range('2018-06-01',periods=200000, freq='T'),
    'cpu':np.random.randn(200000) + 10
}

df = pd.DataFrame(data, columns=['time','cpu'])
df.head()

                 time        cpu
0 2018-06-01 00:00:00  10.234498
1 2018-06-01 00:01:00   9.085277
2 2018-06-01 00:02:00   9.228946
3 2018-06-01 00:03:00   8.930009
4 2018-06-01 00:04:00   9.300112

In [29]:
df.tail()

                      time        cpu
199995 2018-10-17 21:15:00  10.297995
199996 2018-10-17 21:16:00  10.676624
199997 2018-10-17 21:17:00   9.816929
199998 2018-10-17 21:18:00   8.459083
199999 2018-10-17 21:19:00   9.572343

In [30]:
df[(df.time>='2018-06-01 08:00:00') & (df.time<='2018-06-01 08:10:00')]

                   time        cpu
480 2018-06-01 08:00:00   8.484965
481 2018-06-01 08:01:00  11.987440
482 2018-06-01 08:02:00  11.580900
483 2018-06-01 08:03:00  10.089251
484 2018-06-01 08:04:00  11.880549
485 2018-06-01 08:05:00  10.592793
486 2018-06-01 08:06:00   8.612875
487 2018-06-01 08:07:00  10.725521
488 2018-06-01 08:08:00  10.219840
489 2018-06-01 08:09:00  10.183937
490 2018-06-01 08:10:00  11.790666

In [31]:
df2 = df.set_index("time")
df2.head()

                           cpu
time
2018-06-01 00:00:00  10.234498
2018-06-01 00:01:00   9.085277
2018-06-01 00:02:00   9.228946
2018-06-01 00:03:00   8.930009
2018-06-01 00:04:00   9.300112

In [32]:
s = pd.to_datetime(df.time)
s
df.index = s

In [33]:
df.head()

                                   time        cpu
time
2018-06-01 00:00:00 2018-06-01 00:00:00  10.234498
2018-06-01 00:01:00 2018-06-01 00:01:00   9.085277
2018-06-01 00:02:00 2018-06-01 00:02:00   9.228946
2018-06-01 00:03:00 2018-06-01 00:03:00   8.930009
2018-06-01 00:04:00 2018-06-01 00:04:00   9.300112

In [34]:
df = df.drop('time', axis=1)
df.head()

                           cpu
time
2018-06-01 00:00:00  10.234498
2018-06-01 00:01:00   9.085277
2018-06-01 00:02:00   9.228946
2018-06-01 00:03:00   8.930009
2018-06-01 00:04:00   9.300112

In [35]:
df['2018-06-01 08:00:00':'2018-06-01 08:10:00']

                           cpu
time
2018-06-01 08:00:00   8.484965
2018-06-01 08:01:00  11.987440
2018-06-01 08:02:00  11.580900
2018-06-01 08:03:00  10.089251
2018-06-01 08:04:00  11.880549
2018-06-01 08:05:00  10.592793
2018-06-01 08:06:00   8.612875
2018-06-01 08:07:00  10.725521
2018-06-01 08:08:00  10.219840
2018-06-01 08:09:00  10.183937
2018-06-01 08:10:00  11.790666

In [37]:
df2 = df['2018-06-01']
df2.head()

                           cpu
time
2018-06-01 00:00:00  10.234498
2018-06-01 00:01:00   9.085277
2018-06-01 00:02:00   9.228946
2018-06-01 00:03:00   8.930009
2018-06-01 00:04:00   9.300112

In [38]:
df2.tail()

                           cpu
time
2018-06-01 23:55:00   9.613526
2018-06-01 23:56:00   8.795158
2018-06-01 23:57:00   8.634074
2018-06-01 23:58:00   9.271866
2018-06-01 23:59:00  10.990365

In [39]:
df2 = df.groupby(df.index.date).mean()
print(df2.head())
print(df2.tail())

                  cpu
2018-06-01  10.022586
2018-06-02   9.993910
2018-06-03  10.000622
2018-06-04   9.994342
2018-06-05   9.986619
                  cpu
2018-10-13   9.982241
2018-10-14  10.010855
2018-10-15   9.981446
2018-10-16   9.995610
2018-10-17   9.980976

In [40]:
df2 = df.groupby(df.index.hour).mean()
print(df2.head())
print(df2.tail())

            cpu
time
0     10.002889
1     10.001532
2      9.998045
3     10.008774
4     10.006063
            cpu
time
19     9.998051
20    10.008105
21     9.999297
22     9.995193
23    10.009213

In [41]:
df2 = df.groupby(df.index.week).mean()
print(df2.head())
print(df2.tail())

            cpu
time
22    10.005706
23    10.001763
24    10.001388
25    10.002179
26     9.994339
            cpu
time
38    10.012342
39    10.000801
40     9.997181
41     9.998583
42     9.986204

In [42]:
df2 = df.resample('90S').mean() # 重新采样，以90秒

In [43]:
df2.head()

                           cpu
time
2018-06-01 00:00:00   9.659888
2018-06-01 00:01:30   9.228946
2018-06-01 00:03:00   9.115061
2018-06-01 00:04:30  10.276123
2018-06-01 00:06:00   9.143647

In [44]:
df2 = df.resample('5T').max() # 以5分钟为单位重新采样
df2.head()

                           cpu
time
2018-06-01 00:00:00  10.234498
2018-06-01 00:05:00  11.025031
2018-06-01 00:10:00  11.955738
2018-06-01 00:15:00  11.791907
2018-06-01 00:20:00  11.610492